<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue à toi utilisateurs du web</h1>
    <h2>Tu veux assouvir des envies de gossip hein? </h2>
    <h4>Pour l'instant, il n'y a pas de potin... Mais ça arrive!</h4>


    <a href="/gossips/new/">Tu peux ajouter un potin par ici</a>

    <% gossip.each_with_index do |gossip, index| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %><br/>
          <a href="/gossips/<%= index %>"> Lien vers le potin</a>
        </p>
      <% end %>
  </body>
</html>